@charset "utf-8";

a:link {color:#000000;}
a:visited {color:#000000;}



#top {
	text-align: center;
	color:red;
}

.red {
	color:red;
}

#blue{
	color:blue;
}

#important{
	font-size: 110%;
	font-weight: bold;
}

div.irregular{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: black;
	color: red;
}

#new{
	color:red;
}

#new2{
	color:red;
}


