@charset "UTF-8";

td.green {
	color: green;
}

td.red {
	color: red;
}

td.yellow {
	color: blue;
}


table td{
	border-bottom:solid 1px #d0d0d0;

}

.now {
	padding-left: 100px;
	padding-right: 5px;
	text-align: center;
}

